.header{
	position: fixed;
	height: 60px;
	width: 100%;
	top: 0px;
	background-color: green;
	z-index: 100;
}

.contAct {
	position: relative;
	width: 1200px;
	margin: auto;
	height: 100%;
}

.minHeader{
	width: 50px;
	height: 50px;
	position: absolute;
	left: 10px;
	top: 5px;
}

#infoBusqueda {
	position: absolute;
	right: 0px;
	bottom: 0px;
	color: white;
	font-size: 20px;
}

#botones_header {
	position: absolute;
	width: 40%;
	height: 0%;
	top: 50%;
	right: 5%;
	text-align: center;
}

#botones_header > ul > li {
	position: relative;
	list-style: none;
	float: left;
	width: 25%;
	color: white;
	cursor: pointer;
}